<!-- _includes/person.html -->

<div class="grid-sizer"></div>
<div class="grid-item" style="width: 31%">
    <a href="{{ person.url }}">
      <div class="card hoverable">
        {%- if person.img %}
        <figure><picture>
          <img src= "{{person.img}}" width="240px" height="240px" style="object-fit: cover">
        </picture></figure>
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title" style="color: #000000">{{ person.name }}</h2>
          <p class="card-text" style="font-style: italic">{{ person.designation }}</p>
          <p class="card-text">{{ person.bio }}<br>
          {{ person.dept }}<br>
          {{ person.uni }}</p>
          {%- if person.awards %}
            <p class="card-text" style="color: #000000">{{person.awards}}</p>
          {%- else %}
            <p class="card-text" style="color: #000000">&nbsp;</p>
          {%- endif %}
        </div>
      </div>
    </a>
</div>
